<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Ninomiya Kan Profile API</title>

    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
<h1>ProfileAPI</h1>

<h2>All</h2>
<p>If you access it, it will return my All.</p>
<code>GET</code>
<code>https://profile-api.nixo.jp/all/</code>

<h2>Name</h2>
<p>If you access it, it will return my name.</p>
<code>GET</code>
<code>https://profile-api.nixo.jp/name/</code>

<h2>Name ja</h2>
<p>If you access it, it will return my name ja.</p>
<code>GET</code>
<code>https://profile-api.nixo.jp/name-ja/</code>

<h2>Nickname</h2>
<p>If you access it, it will return my Nickname.</p>
<code>GET</code>
<code>https://profile-api.nixo.jp/nickname/</code>

<h2>Age</h2>
<p>If you access it, it will return my age.</p>
<code>GET</code>
<code>https://profile-api.nixo.jp/age/</code>

<h2>Birthday year</h2>
<p>If you access it, it will return my birthday year.</p>
<code>GET</code>
<code>https://profile-api.nixo.jp/birthday-year/</code>

<h2>Birthday month</h2>
<p>If you access it, it will return my birthday month.</p>
<code>GET</code>
<code>https://profile-api.nixo.jp/birthday-month/</code>

<h2>Birthday day</h2>
<p>If you access it, it will return my birthday day.</p>
<code>GET</code>
<code>https://profile-api.nixo.jp/birthday-day/</code>


</body>
</html>